.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  font-style: normal;
  color: $primary-text-color;
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
