$primary-font: "Lato", "arial", sans-serif;
$secondary-font: "Oswald", "arial", sans-serif;
$basic-font-weight: 400;

$primary-text-color: #444444;
$secondary-text-color: #ffffff;
$third-text-color: #000000;
$accent-color: #68b738;

$tablet-width: 768px;
$desktop-width: 1440px;
