$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$basic-font-weight: 400;

$primary-text-color: #444444;
$secondary-text-color: #ffffff;
$third-text-color: #000000;

$background-basic-green: #68b738;
