.header-site {
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;

  &--mobile {
    flex-direction: column;
    box-sizing: border-box;
  }

  &__mobile-helper {
    display: flex;
    flex-wrap: nowrap;
    place-content: center space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 13px 20px 10px;
  }
}
