.additional-list {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0 20px;

  &__items {
    display: grid;
    grid-template-rows: repeat(2, auto);
    place-items: stretch stretch;
    align-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 1px solid #cdcdcd;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-content: center space-between;
    align-items: center;
    margin: 0;
    padding: 2px 0 15px;
  }

  &__item-feature,
  &__item-value {
    display: block;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  &__item-feature {
    padding-left: 1px;
  }

  &__item-value {
    text-align: right;
  }
}
