.product {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  width: 280px;
  max-width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #ebebeb;

  &__image-link {
    grid-row: 1/3;
    margin: auto;
    padding-left: 35px;
    width: 107px;
  }

  :is(.products:nth-child(2n)) > &__image-link {
    padding-left: 20px;
  }

  &__image {
    padding: 0;
    margin: 0;
  }

  &__title-link {
    text-decoration: none;
    margin: 0;
    width: 75px;
    padding: 22px 60px 14px 0;
  }

  &__props {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
  }

  &__props-feature,
  &__props-value {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: $basic-font-weight;
    line-height: 16px;
    text-align: left;
  }

  &__props-value {
    text-align: right;
  }

  &__more-text {
    display: block;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: $basic-font-weight;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding-bottom: 22px;
  }
}

.product:nth-child(2n) .product__image-link {
  padding-left: 20px;
}

.product-more {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  margin: 0;
  padding: 0 20px 24px;
}
