.slider {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 256px;
  background-color: #eaeaea;
  padding: 0 20px 40px;
  box-sizing: border-box;

  &__slide {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  &__image {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: center;
  }
}

.left-slide {
  position: absolute;
  left: 0;
  top: 0;
}

.right-slide {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
