.btn {
  display: block;
  font-family: $secondary-font;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent-color;
}

.btn--choose-program {
  line-height: 1.2;
  margin: 0 20px;
  padding: 10px 0;
  width: 100%;
  max-width: 280px;
}

.btn--catalog {
  position: relative;
  color: $third-text-color;
  line-height: 1;
  padding: 19px 0 21px;
  text-align: left;
  background-color: #f2f2f2;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-image: url("../../icons/stack.svg#icon-right-arrow");
    top: 50%;
    transform: translate(50%, -65%);
  }
}

.btn--cart {
  width: 100%;
  max-width: 280px;
  padding: 10px 0;
  margin: -5px 0 24px;
  line-height: 1.25;
  grid-column: 1/-1;
}

.btn--more {
  color: $primary-text-color;
  width: 100%;
  max-width: 280px;
  padding: 10px 0;
  line-height: 1.25;
  background-color: #f2f2f2;
}

.btn--additional {
  width: 100%;
  max-width: 280px;
  padding: 10px 0;
  line-height: 1.25;
}

.btn--submit {
  width: 100%;
  max-width: 280px;
  padding: 15px 0;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 1.3;
}
