.btn {
  display: block;
  font-family: $secondary-font;
  color: $secondary-text-color;
  font-size: 16px;
  width: 280px;
  max-width: 100%;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent-color;
  box-sizing: border-box;
  white-space: nowrap;
}

.btn--choose-program {
  line-height: 1.2;
  margin: 0 auto;
}

.btn--catalog {
  position: relative;
  color: $third-text-color;
  padding: 19px 0 21px 21px;
  width: max-content;
  text-align: left;
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-image: url("../../icons/stack.svg#icon-right-arrow");
    top: 50%;
    transform: translate(50%, -65%);
  }
}

.btn--cart {
  margin: -5px 0 24px;
  line-height: 1.25;
  grid-column: 1/-1;
}

.btn--more {
  color: $primary-text-color;
  line-height: 1.25;
  background-color: #f2f2f2;
}

.btn--additional {
  line-height: 1.25;
}

.btn--submit {
  padding: 15px 0;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 1.3;
}

@media (min-width: $tablet-width) {
  .btn--choose-program {
    font-size: 20px;
    line-height: 1.3;
    padding: 13px 0;
    max-width: 244px;
    position: relative;
    bottom: 583px;
    left: -142px;
  }

  .btn--catalog {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
    width: 340px;
    margin: 0;
    padding: 34px 0 20px;
    border: none;

    &::after {
      top: 50%;
      transform: translate(25px, 0);
    }
  }
}

@media (min-width: $desktop-width) {
  .btn--choose-program {
    position: relative;
    padding: 13px 0;
    grid-column: 1/2;
    grid-row: 2/3;
    transform: translate(10px, 464px);
    z-index: 0;
  }

  .btn--catalog {
    padding: 7px 0 14px;

    &::after {
      right: 203px;
      top: 11px;
    }
  }
}
