.btn {
  display: block;
  font-family: $secondary-font;
  color: $secondary-text-color;
  font-size: 16px;
  width: 280px;
  max-width: 100%;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent-color;
  box-sizing: border-box;
  white-space: nowrap;
}

.btn:hover {
  background-color: #5eaa2f;
}

.btn:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

.btn--choose-program {
  margin: 1px 0 0;
  padding: 11px 0;
  line-height: 1.2;
}

.btn--catalog {
  position: relative;
  color: $third-text-color;
  padding: 19px 0 21px 21px;
  width: max-content;
  text-align: left;
  background-color: #f2f2f2;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../icons/stack.svg#icon-right-arrow");
    top: 50%;
    //transform: translate(50%, -65%);
  }
}

.btn--catalog:hover {
  background-color: transparent;

  &::after {
    width: 48px;
    transition: background-position 0.3s;
  }
}

.btn--catalog:active {
  background-color: transparent;
  opacity: 0.3;

  &::after {
    width: 48px;
  }
}

.btn--cart {
  margin: 0 0 24px;
  line-height: 1.25;
  grid-column: 1/-1;
}


.btn--cart:hover {
  background-color: #5eaa2f;
}

.btn--cart:active {
  background-color: #5eaa2f;
  opacity: 0.6;
}

.btn--more {
  color: $primary-text-color;
  line-height: 1.25;
  background-color: #f2f2f2;
}

.btn--more:hover {
  background-color: #ebebeb;
}

.btn--more:active {
  background-color: #ebebeb;
  opacity: 1;
}

.btn--additional {
  line-height: 1.25;
}

.btn--submit {
  padding: 15px 0;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 1.3;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .btn--choose-program {
    font-size: 20px;
    line-height: 1.3;
    padding: 13px 0;
    max-width: 244px;
    position: relative;
    bottom: 581px;
    left: -142px;
  }

  .btn--catalog {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
    width: 340px;
    margin: 0;
    padding: 33px 0 20px;
    border: none;

    &::after {
      top: 50%;
      transform: translate(26px, 0);
    }
  }

  .btn--cart {
    display: grid;
    text-align: center;
    width: max-content;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: -40px 0 10px;
    padding: 11px 95px;
  }

  .btn--more {
    grid-column: 1/2;
    grid-row: 4/5;
    width: max-content;
    padding: 10px 80px;
  }

  .btn--additional {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100%;
  }

  .btn--submit {
    padding: 15px 70px;
  }
}

@media (min-width: $desktop-width) {
  .btn--choose-program {
    position: relative;
    padding: 13px 0;
    grid-column: 1/2;
    grid-row: 2/3;
    transform: translate(143px, 465px);
    z-index: 0;
  }

  .btn--catalog {
    padding: 7px 0 14px;

    &::after {
      right: 203px;
      top: 11px;
    }
  }

  .btn--cart {
    margin: -34px 0 11px;
    padding: 10px 54px;
  }

  .btn--more {
    padding: 10px 40px;
  }

  .btn--additional {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 10px 92px;
    margin: 0;
  }
}

