.button {
  display: block;
  font-family: $secondary-font;
  font-weight: $basic-font-weight;
  color: $secondary-text-color;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-basic-green;
}
