.button {
  display: block;
  font-family: $secondary-font;
  font-weight: $basic-font-weight;
  color: $secondary-text-color;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background-basic-green;
}

.button-choose-program {
  margin: 0 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.button-catalog {
  color: $third-text-color;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: $basic-font-weight;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}
