.effect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0 20px 46px;
  row-gap: 4px;
  background-color: #ffffff;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 18px 0 0;
    list-style: none;
  }

  &__count {
    display: flex;
    justify-content: flex-start;
    min-height: 60px;
    width: 100%;
  }

  &__text {
    position: relative;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.3;
    padding: 0 0 0 80px;
    margin: 0;
  }

  &__text::before,
  &__text::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 49%;
    left: 0;
    transform: translateY(-50%);
  }

  &__text::before {
    background-color: $accent-color;
  }

  &__count:first-child .effect__text::after {
    width: 25px;
    height: 28px;
    transform: translate(70%, -50%);
    background-image: url("../../icons/stack.svg#leaf-icon");
  }

  &__count:nth-child(2) .effect__text::after {
    width: 26px;
    height: 29px;
    transform: translate(66%, -46%);
    background-image: url("../../icons/stack.svg#liquid-icon");
  }

  &__count:nth-child(3) .effect__text::after {
    width: 26px;
    height: 30px;
    transform: translate(66%, -46%);
    background-image: url("../../icons/stack.svg#eat-icon");
  }

  &__count:nth-child(4) .effect__text::after {
    width: 27px;
    height: 31px;
    transform: translate(66%, -45%);
    background-image: url("../../icons/stack.svg#scales-icon");
  }
}

@media (min-width: 618px) and (max-width: 767px) {
  .effect {
    justify-content: space-between;

    &__wrapper {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__count {
      width: calc(50vw - 40px);
    }
  }
}

@media (min-width: $tablet-width) {
  .effect {
    padding: 0 30px;

    &__wrapper {
      position: relative;
      row-gap: 0;
      padding: 0;
      counter-reset: number 0;
    }

    &__count {
      display: block;
      position: relative;
      //width: calc(50vw - 60px);
      width: 324px;
      margin: 0;
      padding-top: 4px;
    }

    &__count::before {
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 1;
      color: #f2f2f2;
      counter-increment: number;
      content: counter(number);
      position: absolute;
      top: -20px;
      left: 115px;
    }

    &__text {
      width: 250px;
      font-size: 16px;
      line-height: 1.5;
      padding: 127px 0 115px;
      margin: 0;
    }

    &__text::before,
    &__text::after {
      width: 80px;
      height: 80px;
      top: 18%;
    }

    &__count:first-child .effect__text::after,
    &__count:nth-child(2) .effect__text::after,
    &__count:nth-child(3) .effect__text::after,
    &__count:nth-child(4) .effect__text::after {
      transform: translate(103%, -50%);
    }
  }
}

@media (min-width: 1133px) and (max-width: 1439px) {
  .effect {
    justify-content: space-between;

    &__wrapper {
      justify-content: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding: 2px 110px 62px;
    justify-content: center;
    margin: 0;

    &__wrapper {
      justify-content: space-between;
      gap: 76px;
      counter-reset: number 0;
      padding: 56px 0 0;
    }

    &__count {
      min-width: 210px;
      max-width: 248px;
      width: 100%;
    }

    &__count::before {
      top: -80px;
    }

    &__text {
      position: relative;
      color: $primary-text-color;
      font-size: 16px;
      line-height: 1.5;
      padding: 72px 0 0;
    }

    &__text::before,
    &__text::after {
      top: 0;
      left: 2px;
    }

    &__count:first-child .effect__text::after,
    &__count:nth-child(2) .effect__text::after,
    &__count:nth-child(3) .effect__text::after,
    &__count:nth-child(4) .effect__text::after {
      transform: translate(103%, -50%);
    }
  }
}
