.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  background-color: #ffffff;

  &__address-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__contacts {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    margin: 0;
    width: 100%;
  }

  &__contacts-text {
    color: #111111;
    font-family: $secondary-font;
    font-size: 16px;
    width: 140px;
    line-height: 1.25;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__contacts-address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 14px;
    width: 140px;
    font-style: normal;
    line-height: 1.43;
    margin: 0;
    padding: 0;
  }

  &__contacts-address span {
    text-align: left;
    padding-right: 28px;
  }

  &__map {
    display: block;
    position: relative;
    width: 100%;
  }

  &__map-image {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 362px;
    object-fit: cover;
    vertical-align: middle;
  }

  &__map-iframe {
    position: absolute;
    width: 100%;
    height: 362px;
    z-index: 1;
    left: 0;
    top: 0;
    border: none;
  }

  &__social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 43px 20px 38px;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 34px;

    &__contacts {
      width: 100%;
      padding: 25px 69px 60px;
    }

    &__contacts-text {
      width: min-content;
      font-size: 20px;
      padding-top: 3px;
      line-height: 1.3;
    }

    &__contacts-address {
      width: min-content;
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      padding-top: 3px;
    }

    &__contacts-address span {
      padding: 20px 0 0;
    }

    &__map {
      padding-top: 0;
    }

    &__map-image {
      height: 400px;
    }

    &__map-iframe {
      height: 400px;
    }

    &__social-wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      margin: 0;
      padding: 42px 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 0;
    position: relative;
    max-width: 100%;

    &__contacts {
      align-items: flex-start;
      z-index: 2;
      background-color: #ffffff;
      width: 565px;
      height: 80px;
      padding: 60px 79px 138px;
      position: absolute;
      left: 110px;
      top: 96px;
    }

    &__contacts-text {
      padding: 0;
    }

    &__contacts-address {
      display: block;
      margin-top: -4px;
      width: 157px;
      text-align: left;
    }

    &__contacts-address span {
      display: block;
    }

    &__map {
      padding-bottom: 0;
    }

    &__social-wrapper {
      align-items: flex-end;
      justify-content: space-around;
      padding: 41px 110px;
    }
  }
}
