.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

.footer__address-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__contacts {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  margin: 0;
  width: 100%;
}

.footer__contacts-text {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  width: 140px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.footer__contacts-address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 14px;
  width: 140px;
  font-style: normal;
  line-height: 1.43;
  margin: 0;
  padding: 0;
}

.footer__contacts-address span {
  text-align: left;
  padding-right: 28px;
}

.footer__map {
  display: block;
  position: relative;
  width: 100%;
}

.footer__map-image {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 362px;
  object-fit: cover;
  vertical-align: middle;
}

.footer__map-iframe {
  position: absolute;
  width: 100%;
  height: 362px;
  z-index: 1;
  left: 0;
  top: 0;
  border: none;
}

.footer__map-iframe--nojs {
  display: none;
}

.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 43px 20px 38px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 34px;
  }

  .footer__contacts {
    width: 100%;
    padding: 25px 69px 60px;
  }

  .footer__contacts-text {
    width: min-content;
    font-size: 20px;
    padding-top: 3px;
    line-height: 1.3;
  }

  .footer__contacts-address {
    width: min-content;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    padding-top: 3px;
  }

  .footer__contacts-address span {
    padding: 20px 0 0;
  }

  .footer__map {
    padding-top: 0;
  }

  .footer__map-image {
    height: 400px;
  }

  .footer__map-iframe {
    height: 400px;
  }

  .footer__social-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 0;
    padding: 42px 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 0;
    position: relative;
    max-width: 100%;
  }

  .footer__contacts {
    align-items: flex-start;
    z-index: 2;
    background-color: #ffffff;
    width: 565px;
    padding: 60px 79px;
    position: absolute;
    left: 110px;
    top: 96px;
  }

  .footer__contacts-text {
    padding: 0;
  }

  .footer__contacts-address {
    display: block;
    margin-top: -4px;
    width: 157px;
    text-align: left;
  }

  .footer__contacts-address span {
    display: block;
  }

  .footer__map {
    padding-bottom: 0;
  }

  .footer__social-wrapper {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 55px 110px;
  }
}
