.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;


  &__label {
    box-sizing: border-box;
    margin: 0;
    padding: 24px 0 16px;
    width: 100%;
  }

  &__mail {
    box-sizing: border-box;
    width: 100%;
    color: $primary-text-color;
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #cdcdcd;
    margin: 0;
    padding: 12px 0 12px 12px;
  }
}

@media (min-width: $tablet-width) {
  .form {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 9px 38px 0;

    &__label {
      box-sizing: border-box;
      padding: 15px 0 16px;
    }
  }
}
