.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;

  &__mobile-helper {
    display: flex;
    flex-wrap: nowrap;
    place-content: center space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 13px 20px 10px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    column-gap: 77px;
    width: 100%;
    max-width: 100%;
    padding: 25px 30px 26px;

    &__mobile-helper {
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: grid;
    grid-template-columns: 202px 1fr;
    grid-template-rows: 1fr;
    column-gap: 541px;
    padding: 55px 110px;

    &__mobile-helper {
      margin: 0;
      padding: 0;
    }
  }
}
