.header {
  display: grid;
  grid-template-columns: 190px 25px;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 65px;
  width: calc(100vw - 40px);
  background-color: #ffffff;
  padding: 13px 0 10px;
}

.header--no-js {
  width: 100vw;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  padding: 0;
}

.header--no-js .logo {
  padding: 13px 40px 10px;
}

@media (min-width: $tablet-width) {
  .header {
    width: calc(100vw - 60px);
    grid-template-columns: 175px 440px;
    place-items: stretch stretch;
    justify-content: space-between;
    position: static;
    padding: 25px 0 26px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: calc(100vw - 220px);
    max-width: 1920px;
    grid-template-columns: 202px 580px;
    place-items: stretch stretch;
    justify-content: space-between;
    padding: 55px 0;
    position: static;
    column-gap: 0;
  }
}
