.logo {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;

  &__logo-footer {
    box-sizing: content-box;
    width: 128px;
    height: 24px;
    padding: 0 0 15px;
    margin: 0;
  }

  &__logo-footer:hover {
    color: #3e3e3e;
  }

  &__logo-footer:active {
    color: #6b6b6b;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;

    &__logo-footer {
      width: 128px;
      height: 24px;
      padding: 3px 3px 0 0;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;

    &__logo-footer {
      padding-bottom: 6px;
    }
  }
}
