.navigation {
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  position: relative;

  &__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    top: 13px;
    width: inherit;
  }

  &__list--hidden {
    display: none;
    //display: block;
  }

  &__list-item {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    justify-content: space-around;
    border-top: 1px solid rgb(230, 230, 230);
    background-color: #ffffff;
  }

  &__list-link {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
    font-weight: $basic-font-weight;
    font-size: 20px;
    text-transform: uppercase;
    color: $third-text-color;
    text-decoration: none;
  }
}
