.navigation {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  height: auto;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;

  &--no-js {
    width: 100vw;
    margin: 0;
    padding: 0;
    grid-column: 1/1;
    grid-row: 2/3;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 31px;
  left: -20px;
  z-index: 5;
}

.navigation__list--hidden {
  display: none;
}

.navigation__list--no-js {
  position: static;
  z-index: 0;
}

.navigation__list-item {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.navigation__list-link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 22px 0;
  font-family: $secondary-font;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $third-text-color;
  text-decoration: none;
}

.navigation__list-link:hover {
  opacity: 0.6;
}

.navigation__list-link:focus {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .navigation {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: unset;
    width: 440px;
  }

  .navigation__list {
    display: grid;
    position: static;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 20px;
    justify-items: center;
    width: 440px;
  }

  .navigation__list-item {
    border: none;
  }

  .navigation__list-link {
    white-space: nowrap;
    padding: 15px 13px 15px 0;
    font-size: 18px;
    line-height: 1.33;
  }

  .navigation__list-link--current {
    text-decoration: underline 2px #68b738;
    text-underline-offset: 12px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 193px);
    align-items: center;
    width: max-content;
    z-index: 1;
    row-gap: 20px;
    margin: 0;
    padding: 0;
  }

  .navigation__list {
    position: static;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: contents;
  }

  .navigation__list-item {
    background-color: inherit;
    display: contents;
  }

  .navigation__list-link {
    color: #111111;
    white-space: nowrap;
    font-size: 20px;
    text-align: right;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  .navigation__list-item:not(:first-child):not(:last-child) .navigation__list-link {
    padding-right: 10px;
  }

  .navigation__list-item:first-child .navigation__list-link {
    padding-right: 18px;
  }

  .navigation__list-index .navigation__list-link {
    color: #ffffff;
  }

  .navigation__list-index .navigation__list-link--current {
    text-decoration: underline 2px #ffffff;
    text-underline-offset: 12px;
  }
}
