.navigation {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  height: auto;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 31px;
    left: -20px;
    z-index: 5;
  }

  &__list--hidden {
    display: none;
  }

  &__list--no-js {
    position: static;
    z-index: 0;
  }

  &__list-item {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  &__list-link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 22px 0;
    font-family: $secondary-font;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $third-text-color;
    text-decoration: none;
  }

  &__list-link:hover {
    opacity: 0.6;
  }

  &__list-link:focus {
    opacity: 0.3;
  }
}

.navigation--no-js {
  width: 100vw;
  margin: 0;
  padding: 0;
  grid-column: 1/1;
  grid-row: 2/3;
}

@media (min-width: $tablet-width) {
  .navigation {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: unset;
    width: 440px;

    &__list {
      display: grid;
      position: static;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      grid-column: 1/2;
      grid-row: 1/2;
      gap: 20px;
      justify-items: center;
      width: 440px;
    }

    &__list-item {
      border: none;
    }

    &__list-link {
      white-space: nowrap;
      padding: 15px 13px 15px 0;
      font-size: 18px;
      line-height: 1.33;
    }

    &__list-link--current {
      text-decoration: underline 2px #68b738;
      text-underline-offset: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    width: 580px;
    margin: 0;
    padding: 0;

    &__list {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      position: relative;
      padding: 0 0 0 123px;
      margin: 0;
      z-index: 1;
      top: 0;
    }

    &__list-item {
      background-color: inherit;
    }

    &__list-link {
      color: #111111;
      white-space: nowrap;
      font-size: 20px;
      line-height: 1.6;
      margin: 0;
    }

    &__list-index .navigation__list-link {
      color: #ffffff;
    }

    &__list-index .navigation__list-link--current {
      text-decoration: underline 2px #ffffff;
      text-underline-offset: 12px;
    }
  }
}
