.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  column-gap: calc(100vw - 95%);
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: auto;
    justify-content: space-between;
    justify-items: center;
    width: calc(100vw - 60px);
    gap: clamp(60px, 6.7vw, 60px);
  }
}


@media (min-width: $desktop-width) {
  .products {
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, 245px);
    width: calc(100vw - 110px);
    justify-content: center;
    max-width: 1440px;
    gap: 63px 80px;
    display: grid;
    padding-top: 57px;
  }
}
