.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .products {
    gap: 60px 64px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }
}

@media (min-width: $desktop-width) {
  .products {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    gap: 63px 80px;
    display: grid;
    padding-top: 57px;
  }
}
