.product {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #ebebeb;

  &__image-link {
    grid-row: 1/3;
    margin: 0;
    padding-left: 16px;
    width: 107px;
  }

  &__image {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
  }

  &__title-link {
    text-decoration: none;
    margin: 0;
    width: 75px;
    padding: 23px 60px 14px 0;
  }

  &__props {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 26px;
  }

  &__props-feature,
  &__props-value {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
  }

  &__props-value {
    text-align: right;
  }

  &__more-text {
    display: block;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    margin: 0;
    padding-bottom: 22px;
  }
}

.product-more {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  position: relative;
  margin: 0;
  padding: 0 20px 23px;
}
