.product {
  border-bottom: 1px solid #ebebeb;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 50%);
  align-content: stretch;
  width: calc(100vw - 40px);
  max-width: 430px;
  display: grid;
}

.product__image-link {
  grid-row: 1/3;
  margin: 0 auto;
  width: 107px;
}

.product__image {
  display: block;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
}

.product__title-link {
  width: 75px;
  margin: 0;
  padding: 23px 60px 15px 0;
  text-decoration: none;
  box-sizing: content-box;
}

.product__props {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: end;
  width: 100%;
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
}

.product__props-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-between;
  width: 100%;
}

.product__props-feature,
.product__props-value {
  margin: 0;
  padding: 0 10px 0 0;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
}

.product__props-value {
  text-align: right;
  padding: 0 0 0 10px;
}

.product__more-text {
  display: block;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
}

.product--more-products {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  position: relative;
  margin: 0;
  padding: 0 20px 23px;
}

@media (min-width: 559px) and (max-width: 767px) {
  .product {
    width: calc(50vw - 30px);
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, max-content);
    align-content: space-between;
    justify-items: center;
    padding: 40px 20px;
    position: relative;
    min-width: 240px;
    width: 100%;
    max-width: 324px;
    border: none;
    z-index: 0;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: 71px;
      width: 100%;
      height: calc(100% - 83px);
      background-color: #f2f2f2;
      z-index: -1;
    }
  }

  .product__image-link {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 200px;
    height: 210px;
    margin-bottom: -28px;
    padding: 0;
    justify-self: center;
    outline: none;
  }

  .product__image {
    margin: 0;
    padding: 0;
    display: block;
    top: 64px;
    left: 50%;
    position: relative;
  }

  .product__title-link {
    display: grid;
    width: max-content;
    padding: 10px 2px 29px 0;
  }

  .product__props {
    position: relative;
    bottom: 19px;
  }

  .product__props-items {
    margin-bottom: -3px;
  }

  .product__props-feature,
  .product__props-value {
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    line-height: 2.1;
    padding: 0;
  }

  .product__props-feature {
    margin-left: 16px;
  }

  .product__props-value {
    margin-right: 16px;
  }

  .product__more-text {
    width: 170px;
    font-size: 16px;
    line-height: 1.13;
    text-align: center;
    margin: -51px 0 44px;
    padding: 0;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .product--more-products {
    outline: 1px solid #f2f2f2;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
    align-content: space-evenly;
    height: 426px;
    min-width: 280px;
    width: 100%;
    max-width: 324px;
    margin-top: 73px;
    padding: 0 1px;
    display: grid;
    position: relative;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: grid;
    position: relative;
    min-width: 245px;
    max-width: 245px;
    padding: 40px 22px;
    border: none;

    &::before {
      width: 245px;
    }
  }

  .product__image-link {
    margin-bottom: -76px;
  }

  .product__title-link {
    display: grid;
    width: max-content;
    padding: 44px 2px 35px 0;
  }

  .product__props {
    bottom: 18px;
    padding-bottom: 56px;
  }

  .product__more-text {
    margin: -40px 0 51px;
  }

  .product--more-products {
    height: 426px;
    width: 245px;
    margin-top: 73px;
    padding: 0 1px;
    position: relative;

    &::before {
      display: none;
    }
  }
}
