.product {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  width: 280px;
  max-width: 290px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;

  &__image-link {
    grid-row: 1/3;
    margin: 0;
    padding-left: 16px;
    width: 107px;
  }

  &__image {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
  }

  &__title-link {
    text-decoration: none;
    margin: 0;
    width: 75px;
    padding: 23px 60px 14px 0;
  }

  &__props {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 26px;
    list-style: none;
  }

  &__props-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }

  &__props-feature,
  &__props-value {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
  }

  &__props-value {
    text-align: right;
  }

  &__more-text {
    display: block;
    color: $primary-text-color;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    margin: 0;
    padding-bottom: 22px;
  }
}

.product-more {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  position: relative;
  margin: 0;
  padding: 0 20px 23px;
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, max-content);
    align-content: space-between;
    justify-items: center;
    padding: 40px 19px;
    position: relative;
    width: 324px;
    height: 511px;
    border: none;
    z-index: 0;

    &::before {
      display: block;
      position: absolute;
      content: "";
      bottom: 10px;
      left: -19px;
      width: 324px;
      height: 430px;
      background-color: #f2f2f2;
      z-index: -1;
    }

    &__image-link {
      position: relative;
      grid-column: 1/2;
      grid-row: 1/2;
      width: 200px;
      height: 210px;
      margin-bottom: -60px;
      padding: 0;
      justify-self: center;
      top: 64px;
      left: 99px;
      transform: none;
      box-sizing: border-box;
      outline: none;
    }

    &__image {
      margin: 0;
      padding: 0;
      display: block;
      position: static;
    }

    &__title-link {
      display: grid;
      width: max-content;
      padding: 10px 3px 0 0;
    }

    &__props {
      width: 100%;
      display: grid;
      align-items: end;
      grid-template-rows: repeat(3, 30px);
      position: relative;
      bottom: 15px;
    }

    &__props-items {
      box-shadow: inset 0 -1px 0 0 #cdcdcd;
    }

    &__props-feature,
    &__props-value {
      display: grid;
      font-size: 16px;
      line-height: 2.1;
      padding: 0;
    }

    &__more-text {
      width: 170px;
      font-size: 16px;
      line-height: 1.13;
      text-align: center;
      margin: -51px 0 44px;
      padding: 0;
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  .product-more {
    outline: 1px solid #f2f2f2;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
    align-content: space-evenly;
    height: 426px;
    width: 324px;
    margin-top: 60px;
    padding: 0 1px;
    display: grid;
    position: relative;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: grid;
    position: relative;
    width: 245px;
    height: 511px;
    padding: 40px 38px;
    border: none;

    &::before {
      display: block;
      position: absolute;
      content: "";
      bottom: 10px;
      left: 0;
      width: 245px;
      height: 430px;
      background-color: #f2f2f2;
      z-index: -1;
    }

    &__image-link {
      margin-bottom: -76px;
    }

    &__props {
      bottom: 11px;
    }

    &__more-text {
      margin: -40px 0 51px;
    }
  }

  .product-more {
    height: 426px;
    width: 245px;
    margin-top: 60px;
    padding: 0 1px;
    position: relative;

    &::before {
      display: none;
    }
  }
}

