.promo {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;

  &__slogan {
    font-family: $secondary-font;
    font-weight: $basic-font-weight;
    font-size: 14px;
    line-height: 14px;
    color: $secondary-text-color;
    text-transform: uppercase;
    text-align: center;
  }

  &__image {
    display: inline-block;
    padding-top: 29px;
    padding-bottom: 3px;
  }

  ::before,
  ::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 302px;
    z-index: -1;
  }

  ::before {
    background-image: url("../../images/images-1x/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  ::after {
    background-color: $background-basic-green;
    opacity: 0.85;
  }
}
