.promo {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  align-items: center;
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-image:
      image-set(
        url("../../images/background-images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/background-images/index-background-mobile@2x.jpg") type("image/jpg") 2x,
        url("../../images/background-images/index-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/background-images/index-background-mobile@2x.webp") type("image/webp") 1x),
      linear-gradient(90deg, #414045 100%, #4d4c51 100%);
    background-position: center top, top center;
    background-repeat: no-repeat, repeat-x;
    background-size: 320px 302px, 100% 302px;
  }


  &__helper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 302px;
    margin: 0;
    padding: 0;
    background-color: $accent-color;
    opacity: 0.85;
  }

  &__slogan {
    display: block;
    font-family: $secondary-font;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    padding: 0 50px 165px;
    margin: 0 auto;
    color: $secondary-text-color;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }

  &__pictures {
    width: 100%;
    margin-top: -134px;
    z-index: 1;
  }

  &__image {
    display: block;
    margin: 0 auto;
    padding: 0 0 4px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    align-items: center;
    align-content: center;
    padding-bottom: 3px;

    &::before {
      display: none;
    }

    &__helper {
      background-color: #ffffff;
      width: max-content;
    }

    &__slogan {
      display: block;
      font-size: 20px;
      color: $third-text-color;
      text-align: left;
      padding-left: 28px;
      width: 586px;
      padding-bottom: 156px;
    }

    &__pictures {
      z-index: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 100px;
    width: max-content;
    place-items: start stretch;
    justify-content: space-between;
    padding: 0 0 32px;

    &::before,
    &::after {
      display: none;
    }

    &__helper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 180px 100px;
      align-content: center;
      align-items: start;
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0;
      padding: 0 95px 0 0;
      background-color: transparent;
      z-index: 2;
    }

    &__slogan {
      display: block;
      padding: 21px 45px 0 85px;
      grid-column: 1/2;
      grid-row: 2/3;
      transform: none;
      margin: 0 0 -2px 2px;
      z-index: 2;
    }

    &__pictures {
      grid-column: 2/3;
      grid-row: 1/3;
      margin: 0;
      padding: 0;
      z-index: 1;
      transform: translate(-230px, -28px);
    }
  }
}
