.promo {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  align-items: center;
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-image:
      image-set(
        url("../../images/background-images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/background-images/index-background-mobile@2x.jpg") type("image/jpg") 2x,
        url("../../images/background-images/index-background-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/background-images/index-background-mobile@2x.webp") type("image/webp") 1x),
      linear-gradient(90deg, #414045 100%, #4d4c51 100%);
    background-position: center top, top center;
    background-repeat: no-repeat, repeat-x;
    background-size: 320px 302px, 100% 302px;
  }
}

.promo__helper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 302px;
  margin: 0;
  padding: 0;
  background-color: $accent-color;
  opacity: 0.85;
}

.promo__slogan {
  display: block;
  font-family: $secondary-font;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  padding: 0 50px 165px;
  margin: 0 auto;
  color: $secondary-text-color;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.promo__pictures {
  width: 100%;
  margin-top: -134px;
  z-index: 1;
}

.promo__image {
  display: block;
  margin: 0 auto;
  padding: 0 0 4px;
}

@media (min-width: $tablet-width) {
  .promo {
    align-items: center;
    align-content: center;
    padding-bottom: 3px;

    &::before {
      display: none;
    }
  }

  .promo__helper {
    background-color: #ffffff;
    width: max-content;
  }

  .promo__slogan {
    display: block;
    font-size: 20px;
    color: $third-text-color;
    text-align: left;
    padding-left: 28px;
    width: 586px;
    padding-bottom: 156px;
  }

  .promo__pictures {
    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    grid-template-columns: 1440px;
    justify-content: start;
    max-width: 1440px;
    margin: 0;
    padding: 0 0 265px;
    display: grid;
    position: relative;
    place-items: start start;

    &::before,
    &::after {
      display: none;
    }
  }

  .promo__helper {
    display: contents;
    background-color: transparent;
  }

  .promo__slogan {
    margin: 0 0 0 190px;
    padding: 40px 145px 0 0;
    display: block;
    transform: none;
  }

  .promo__pictures {
    z-index: 1;
    margin: 0;
    padding: 0;
    width: max-content;
    position: absolute;
    top: -30px;
    left: calc(50% - 163px);
  }

  .promo__image {
    margin: 0;
    padding: 0;
  }
}
