.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 34px 20px 40px;
  overflow-x: hidden;

  &__helper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    place-content: stretch center;
    place-items: stretch stretch;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__promo {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-image:
      image-set(
        url("../../images/background-images/catalog-background-mobile-cat@1x.jpg") type("image/jpg") 1x,
        url("../../images/background-images/catalog-background-mobile-cat@2x.jpg") type("image/jpg") 2x,
        url("../../images/background-images/catalog-background-mobile-cat@1x.webp") type("image/webp") 1x,
        url("../../images/background-images/catalog-background-mobile-cat@2x.webp") type("image/webp") 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $accent-color;
      opacity: 0.85;
    }
  }

  &__promo-slogan {
    color: $secondary-text-color;
    font-family: $primary-font;
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 187px 1px 43px 0;
    margin: 0 auto;
    width: 170px;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 58px;
      width: 78px;
      height: 81px;
      transform: translateX(-50%);
      background-image: url("../../icons/stack.svg#promotion-icon");
    }
  }

  &__text {
    padding: 0;
    margin: 0;
    align-self: center;
    color: $third-text-color;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .promotion {
    padding: 0 30px 62px;

    &__helper {
      max-width: max-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      padding-top: 35px;
    }

    &__promo {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto;
      height: 200px;
      background-image: url("../../images/background-images/catalog-background-tablet-cat@1x.jpg");
      background-size: contain;

      &::before {
        height: 200px;
        min-width: 707px;
        max-width: 100%;
      }
    }

    &__promo-slogan {
      text-align: left;
      grid-area: 1 / 2 / 2 / 3;
      width: 286px;
      padding: 70px 116px 0 0;

      &::before {
        position: absolute;
        left: 50%;
        top: 56px;
        width: 78px;
        height: 81px;
        grid-column: 1/2;
        grid-row: 1/2;
        transform: translateX(-486px);
      }
    }

    &__text {
      padding: 32px 43px 0;
      margin: 0;
      font-size: 24px;
      line-height: 1.33;
    }
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 0 33px;

    &__helper {
      display: grid;
      grid-template-columns: 1220px;
      grid-template-rows: repeat(2, auto);
      justify-content: space-between;
      width: 100%;
      padding: 35px 0 0;
      grid-row: 1/2;
    }

    &__promo {
      display: none;
    }

    &__text {
      grid-row: 2/3;
      grid-column: 1/2;
      padding: 40px 88px 0;
    }
  }
}
