.results {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  width: 100%;
  min-width: 280px;
  height: 100%;
  object-fit: cover;
  background-color: #eaeaea;
  margin: 0;
  padding: 0;

  &__before,
  &__after {
    display: block;
    width: 140px;
    height: 100%;
    overflow-x: hidden;
  }

  &__before {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__after {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__drag-bar {
    display: block;
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    z-index: 2;
    background-color: #666666;
    transform: translateX(-50%);
  }

  &__drag-bar::before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #666666;
  }

  &__drag-bar::after {
    display: block;
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#double-arrow");
    background-color: #666666;
    top: 50%;
    left: 2px;
    transform: translate(-50%, -50%);
  }

  &__drag-bar:hover {
    background-color: #68b738;
    cursor: ew-resize;
  }

  &__drag-bar:hover::before {
    border: 2px solid #68b738;
    cursor: ew-resize;
  }

  &__drag-bar:hover::after {
    cursor: ew-resize;
    mask-image: url("../../icons/stack.svg#double-arrow");
    background-color: #68b738;
  }

  &__drag-bar:active {
    background-color: #5eaa2f;
    cursor: ew-resize;
  }

  &__drag-bar:active::before {
    border: 2px solid #5eaa2f;
    cursor: ew-resize;
  }

  &__drag-bar:active::after {
    cursor: ew-resize;
    mask-image: url("../../icons/stack.svg#double-arrow");
    background-color: #5eaa2f;
  }

  &__image {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  &__after .results__image {
    left: -140px;
  }

  &__before .results__image {
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .results {
    grid-template-columns: repeat(2, 280px);
    min-width: 560px;
    transform: translateY(-149px);
    margin-bottom: -50px;
    background-color: #ffffff;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 462px;
      background-color: #eaeaea;
      bottom: -100px;
    }

    &__drag-bar {
      transform: translate(-48%, 0);
    }

    &__before,
    &__after {
      width: 280px;
    }

    &__after .results__image {
      left: -280px;
    }

    &__before .results__image {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .results {
    grid-column: 2/3;
    grid-row: 1/-1;
    width: 560px;
    height: 512px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 1;
    transform: translateY(-10px);

    &::before {
      display: none;
    }
  }
}
