.target {
  background-color: #ffffff;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px calc(100vw - 100%);
  padding: 0 20px 20px;
  display: flex;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
  }

  &__description-text {
    border-bottom: 1px solid #d9d9d9;
    margin: -2px 0 0;
    padding: 0 21px 22px;
    font-family: "Lato", "arial", sans-serif;
    font-size: 14px;
    line-height: 1.29;
    display: inline-block;
  }
}

@media (min-width: 618px) and (max-width: 767px) {
  .target {
    flex-flow: nowrap;
    justify-content: space-between;
    gap: 20px;

    &__description {
      width: calc(50vw - 30px);
      margin-top: auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .target {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    width: 100%;
    padding: 0 30px;
    margin-top: -55px;
    justify-items: center;
    justify-content: center;

    &__description {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      row-gap: 24px;
      place-items: center start;
      min-width: 708px;
      max-width: 100%;
      justify-content: start;
      margin: 0;
      padding: 46px 22px 42px 53px;
    }

    &__description-text {
      display: grid;
      width: 340px;
      font-family: $primary-font;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      border: none;
      font-size: 16px;
      line-height: 1.5;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .target {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 80px;
    margin: 0;
    padding: 70px 110px 31px;

    &__description {
      background-color: #f2f2f2;
      flex-direction: column;
      justify-content: flex-end;
      gap: 25px;
      width: 570px;
      min-width: 570px;
      padding: 77px 22px 47px 53px;
      display: flex;
      position: relative;
      align-items: baseline;
    }

    &__description-text {
      display: inline-block;
      width: 100%;
      font-family: $primary-font;
      font-size: 16px;
      line-height: 1.5;
      border: none;
      padding: 0 5px 0 0;
      margin: 0;
    }
  }
}
