.target {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.target-description {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  padding: 0 20px;

  &__text {
    display: inline-block;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.29;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 21px;
    margin: 0;
  }
}
