.title {
  display: block;
  box-sizing: border-box;
  font-family: $secondary-font;
  font-weight: $basic-font-weight;
  color: $primary-text-color;
  font-size: 36px;
  line-height: 1;
  text-align: left;
  padding: 0;
}

.title--promo {
  color: $secondary-text-color;
  text-align: center;
  padding: 27px 35px 25px;
  margin: 0;
  z-index: 1;
}

.title--target-description {
  position: relative;
  color: $third-text-color;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 30px 0 30px 40px;

  &::before,
  &::after {
    position: absolute;
    content: " ";
    top: 50%;
  }

  &::before {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: $accent-color;
  }

  &::after {
    width: 67px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-sitting-icon");
    background-repeat: no-repeat;
    left: 11px;
    transform: translateY(-54%);
  }
}

.title--effect {
  color: $third-text-color;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 21px;
}

.title--example {
  color: $third-text-color;
  line-height: 1.11;
  margin: 0 0 20px;
}

.title--catalog {
  color: $third-text-color;
  padding: 27px 41px 39px 20px;
  margin: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.title--product {
  color: #222222;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.title--more {
  color: #111111;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 78px 0 8px;
}

.title--more::before,
.title--more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 38px;
  left: 50%;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.title--more::before {
  transform: translate(-50%);
}

.title--more::after {
  transform:
    translate(-50%)
    rotate(90deg);
}

.title--additional {
  color: $third-text-color;
  font-size: 24px;
  margin: 0 20px;
  padding: 25px 0 35px;
  border-bottom: 1px solid #cdcdcd;
}

.title--additional-list {
  color: #222222;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 0 10px;
}

.title--promotion {
  font-size: 24px;
  margin: 0;
  padding: 40px 0 32px;
  align-self: flex-start;
}
/*
.title--additional::after,
.title--promotion::after {
  background-color: $accent-color;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 42px;
  bottom: 5px;
  margin-right: -50%;
}
*/
.target__description:nth-child(3) .title--target-description::after {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-walking-icon");
  background-repeat: no-repeat;
  left: 13px;
  transform: translateY(-50%);
}

.target__description:nth-child(2) .title--target-description {
  padding-left: 10px;
}

@media (min-width: $tablet-width) {
  .title--promo {
    color: $third-text-color;
    font-size: 60px;
    text-align: left;
    padding: 35px 140px 40px 28px;
    margin: 0 auto;
  }

  .title--target-description {
    justify-self: flex-start;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 340px;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    margin: 0;
    padding: 30px 0 0;

    &::before,
    &::after {
      content: " ";
      left: 392px;
    }

    &::before {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transform: translateY(13px);
      background-color: $accent-color;
    }

    &::after {
      width: 141px;
      height: 194px;
      background-image: url("../../icons/stack.svg#cat-sitting-icon");
      background-repeat: no-repeat;
      transform: translateY(0);
      left: 421px;
    }
  }

  .target__description:nth-child(3) .title--target-description::after {
    width: 269px;
    height: 113px;
    background-image: url("../../icons/stack.svg#cat-walking-icon");
    background-repeat: no-repeat;
    transform: translateY(55px);
    left: 362px;
  }

  .target__description:nth-child(2) .title--target-description {
    padding-left: 0;
  }

  .title--effect {
    width: 500px;
    font-size: 60px;
    margin: 0;
    padding: 38px 0 48px;
  }

  .title--example {
    font-size: 60px;
    margin: 0;
    padding-left: 30px;
  }

  .title--catalog {
    width: 768px;
    border: none;
    font-size: 60px;
    text-align: left;
    align-self: flex-start;
    padding: 35px 0 95px 30px;
    margin: 0 auto;
  }

  .title--product {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    width: 140px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin: 0;
  }

  .title--more {
    font-size: 20px;
    width: 140px;
    padding: 82px 0 22px;
    margin-bottom: 13px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .title--more::before,
  .title--more::after {
    position: absolute;
    content: "";
    width: 60px;
    top: 78px;
  }

  .title--additional {
    font-size: 32px;
    text-align: left;
    margin: 0 40px;
    width: max-content;
    padding: 63px 0 80px;
    justify-self: start;
    border: none;
  }

  .title--additional-list {
    font-size: 20px;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .title--promotion {
    font-size: 32px;
    margin: 0 40px;
    padding: 79px 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .title--promo {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 40px 0 0;
    margin-bottom: 20px;
    z-index: 0;
  }

  .title--target-description {
    color: $third-text-color;
    font-size: 36px;
    width: 400px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 2px 0 48px 128px;

    &::before,
    &::after {
      content: " ";
      top: 50%;
      left: 0;
      background-repeat: no-repeat;
    }

    &::before {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $accent-color;
      transform: translateY(-72%);
    }

    &::after {
      width: 70px;
      height: 97px;
      background-image: url("../../icons/stack.svg#cat-sitting-icon");
      left: 15px;
      transform: translateY(-80%);
    }
  }

  .target__description:nth-child(2) .title--target-description {
    padding-left: 86px;
  }

  .target__description:nth-child(3) .title--target-description::after {
    width: 135px;
    height: 57px;
    background-image: url("../../icons/stack.svg#cat-walking-icon");
    transform: translateY(-91%);
    left: -19px;
  }

  .title--effect {
    font-size: 60px;
    padding: 38px 0 48px;
  }

  .title--example {
    font-size: 60px;
    padding: 74px 0 8px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .title--catalog {
    padding: 15px 110px 39px;
    text-align: left;
    border: none;
    width: 1440px;
    margin: 0 auto;
  }

  .title--product {
    font-size: 20px;
    padding-top: 2px;
  }

  .title--more {
    font-size: 20px;
    width: 140px;
    padding: 67px 0 13px;
    margin-bottom: 13px;
  }

  .title--more::before,
  .title--more::after {
    top: 76px;
  }
}
