.title {
  display: block;
  position: relative;
  font-family: $secondary-font;
  font-weight: $basic-font-weight;
  color: $primary-text-color;
  font-size: 36px;
  line-height: 1;
  text-align: left;
  padding: 0;
}

.title--promo {
  color: $secondary-text-color;
  text-align: center;
  padding: 27px 35px 25px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.title--target-description {
  position: relative;
  color: $third-text-color;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 30px 0 30px 38px;

  &::before,
  &::after {
    position: absolute;
    content: " ";
    top: 50%;
  }

  &::before {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $accent-color;
  }

  &::after {
    width: 67px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-sitting-icon");
    background-repeat: no-repeat;
    left: -9px;
    transform: translateY(-54%);
  }
}

.title--effect {
  color: $third-text-color;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 23px;
}

.title--example {
  color: $third-text-color;
  line-height: 1.11;
  margin: -2px 0 20px;
}

.title--catalog {
  color: $third-text-color;
  padding: 27px 41px 39px 20px;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.title--product {
  color: #222222;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.title--more {
  color: #111111;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 78px 0 8px;
}

.title--more::before,
.title--more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 36%;
  left: 50%;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.title--more::before {
  transform: translate(-50%);
}

.title--more::after {
  transform:
    translate(-50%)
    rotate(90deg);
}

.title--additional {
  color: $third-text-color;
  font-size: 24px;
  line-height: 1;
  margin: 0 20px;
  padding: 25px 0 35px;
  border-bottom: 1px solid #cdcdcd;
}

.title--additional-list {
  color: #222222;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 0 10px;
}

.title--promotion {
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 40px 0 32px;
  align-self: flex-start;
}

.title--additional::after,
.title--promotion::after {
  background-color: $accent-color;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 42px;
  bottom: 5px;
  margin-right: -50%;
}

.target__description:nth-child(3) .title--target-description::after {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-walking-icon");
  background-repeat: no-repeat;
  left: -7px;
  transform: translateY(-50%);
}

.target__description:nth-child(2) .title--target-description {
  padding-left: 9px;
}
