.social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    display: block;
    margin: 0;
    padding: 22px 0 16px;
  }
}
